<title>Page Not found</title>

<style type="text/css">
    .notFound {
        width: 100%;
        height: 500px;
        text-align: center;
        background: #ffffff;
        color: #808080;
    }

    .txt404 {
        color: #808080;
        font-size: 80px;
    }

    .txtTop {
        font-size: 55px;
        color: #808080;
    }

    .notFoundText {
        font-size: 20px;
        color: #808080;
        margin: 12px;
    }

    .clear {
        clear: both;
    }
</style>
<div class="col-md-12">
    <div class="notFound">
        <p class="txt404">404</p>

        <p class="txtTop">पृष्ठ भेटिएन</p>

        <p class="clear"></p>

        <p class="notFoundText">
            तपाईले खोज्नुभएको पृष्ठ भेटिएन| पृष्ठ सरेको वा हटाईएको हुनसक्छ
            <a href="{{ path('bidhee_frontend_homepage') }}" class="home-link"><i class="fa fa-home fa-lg"></i>
                गृहपृष्ठ
                जानुहोस</a>
        </p>
    </div>
</div>
