<title>Internal server error.</title>

<style type="text/css">
    .notFound {
        width: 100%;
        height: 500px;
        text-align: center;
        background: #ffffff;
        color: #808080;
    }

    .txt404 {
        color: #808080;
        font-size: 80px;
    }

    .txtTop {
        font-size: 55px;
        color: #808080;
    }

    .notFoundText {
        font-size: 20px;
        color: #808080;
        margin: 12px;
    }

    .clear {
        clear: both;
    }
</style>
<div class="col-md-12 notFound">
    <p class="txt404">500</p>

    <p class="txtTop">Oops, you've encountered an error.</p>

    <p class="clear"></p>

    <p class="notFoundText">Internal server error. Please inform about it to webmaster. <a
                href="{{ path('bidhee_frontend_homepage') }}"><i class="fa fa-home fa-lg"></i> Home</a></p>
</div>
