/vendor
/app/logs
/app/cache/
/composer.lock
/web/uploads
/web/bundles/
.idea/
/bin/
/app/config/parameters_live.yml
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/config/parameters_dev.yml
/app/phpunit.xml.dist
/web/.htaccess_example
/web/media/cache
/html
web/media/

