<section>
    <div class="container">
        <div class="col-12">
            <div class="bigyapan">
                {% set belowheadermenu = getAds('ad-below-mukhaya',5) %}
                {% if belowheadermenu|length > 0 %}
                    {% for ad in belowheadermenu %}
                        <figure><a href="{{ ad.adLink }}" title="{{ ad.adTitle }}">
                        {% if ad.file is not null %}
                            <img
                                    src="{{ ad.file }}"
                                    height="120" width="1140" alt=""/></a>
                            </figure>
                        {% elseif ad.script is not null %}
                            {{ ad.script|raw }}
                        {% endif %}
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</section>

