<!doctype html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
<head>
    <meta charset=" utf-8">
    <meta property="op:markup_version" content="v1.0">
    <link rel="canonical" href="URL here">
    <link rel="stylesheet" title="default" href="#">
    <title>Article Title</title>
    <meta property="fb:article_style" content="default">
</head>
<body>
<article>
    <header>
        <figure data-mode=aspect-fit>
            <video loop>
                <source src="http://fb.me/ia-video-ia_b_roll.mov" type="video/mov"/>
            </video>
        </figure>

        <figure>
            <img src="http://fb.me/ia-img-desert.jpg"/>
            <figcaption>Caption</figcaption>
        </figure>

        <h1>Article Title</h1>
        <h2>tagline</h2>

        <address>Author Name</address>

        <!-- The published and last modified time stamps -->
        <time class="op-published" dateTime="2016-2-04T08:00">February 4th 2016, 8:00 AM</time>
        <time class="op-modified" dateTime="2016-2-04T08:00">February 4th 2016, 8:00 AM</time>
    </header>
    <p>Content here</p>
    <footer>
        <ul class="op-related-articles">
            <li><a href="http://instantarticles.fb.com"></a></li>
            <li><a href="http://instantarticles.fb.com"></a></li>
        </ul>
        <!-- Credits for your article -->
        <aside>The footer section can be used for acknowledgements, author bios, related articles, or any other
            supplemental information.
        </aside>

        <!-- Copyright details for your article -->
        <small>© Facebook</small>


    </footer>

</article>
</body>
</html>
